:root{
  --axis-color: rgba(139, 118, 130, 0.8);
  --root-fontsize: 12px;
  --base-font: 'Open Sans', sans-serif;
  --title-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--base-font);
  font-size: var(--root-fontsize);
}
h1 {
  font-size: var(--root-fontsize*2);
  font-weight: 900;
  font-family: var(--title-font);
}
text {
  font-family: var(--title-font);
  font-size: var(--root-fontsize);
}
span {
  display: inline-block;
}
svg {
    display: block;
    margin: 0 auto;
}
select {
  margin: 0px 10px;
  vertical-align: middle;
}

p {
  text-align: justify;
}

div.tooltip {
  background-color: lightgrey;
  padding: 5px;
  border-radius: 10px;
  font-family: var(--title-font);
  font-weight: 500;
  color: lightgrey;
}

.outer-container {
  margin: 0 10%;
}

.inner-container {
  width: 0 10%;
}

.line {
  fill: none;
  stroke-width: 2px;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 5s linear;
  animation-fill-mode: forwards;
}
@keyframes dash{
   from{
       stroke-dashoffset: 2000;
   }
   to{
       stroke-dashoffset: 0;
   }
}

.dot {
  animation: dash 5s linear;
}

.axis line, path {
  stroke: var(--axis-color);
}
.wrapper {
  text-align: left;
  display: block;
  margin: 0 auto;
  width: 90%;
}

.toggle-text {
  vertical-align: middle;
  font-weight: bold;
  font-family: var(--title-font);
}

.y-axis, .x-axis {
  background: black !important;
  color: lightgrey !important;
  font-weight: 800;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
  display: inline-block;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
  display: inline-block;
  margin-right: 10px;
}

label:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #DD2461;
}

input:checked + label:after {
	left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}

#drop-down {
  visibility: hidden;
}
